.buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.button{
    width: 128px;
    margin: 16px;
}

.button-with-title{
    display: flex;
    flex-direction: column;
}
.button-with-title > button{
    width: 128px;
}
